.MuiAppBar-root {
    background: var(--blue-color-400) !important;
    box-shadow: none !important;
    color: white !important;
}
.MuiAppBar-root .makeStyles-search-4 {
    display: flex;
}

.MuiAvatar-root {
    /* background: teal !important; */
    /* margin: 0 !important;
    padding: 0 !important;
    height: 35px !important;
    width: 35px !important;
    font-size: 1rem !important; */
}
.logout-btn,
.login-btn {
    color: rgb(207, 70, 45);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 65px;
    font-size: 0.95rem;
}
.login-btn {
    color: grey;
}
